p, h2{
    color: var(--color-white);
}
p {
    white-space: pre-line;    
    font-size:small;
}
.parraf {
    border: solid 2px var(--color-primary);
    color: var(--color-white);
    background-color: black;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 4px 0 0px var(--color-base) 
} 

