.carousel {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth; /* Hace que el scroll sea suave */
    margin-top: 40px;
  }
  
  .carousel-container {
    display: flex;
    gap: 30px; /* Espacio entre imágenes */
    padding: 10px; /* Espacio interno */
  }

.carousel-img {
    width: 300px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px; /* Bordes redondeados */
    
    /* Efecto 3D con sombra para fondo oscuro */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7),  
                -5px -5px 15px rgba(255, 255, 255, 0.1); 
  
    /* Efecto de arqueado en los lados */
    clip-path: ellipse(90% 85% at center);
    
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-img:hover {
    transform: scale(1.20);
  }
  