/* ✅ Estilos del GRID para pantallas grandes */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 🔹 Ahora las columnas pueden ser más pequeñas */
  gap: 20px;
  padding: 20px;
  color: white;
}

.grid-item {
  
  padding: 10px;
  text-align: center;
}

.grid-item img, .grid-item video {
  width: 100%;
  border-radius: 10px;
}

/* ✅ CARRUSEL: Oculto en PC, visible en móviles */
#instagramCarousel {
  display: none;
}

/* ✅ Mostrar el carrusel en móviles (menor a 992px) */
@media (max-width: 500px) {
  .grid-container {
    display: none; /* Oculta el Grid en móviles */
  }
  
  #instagramCarousel {
    display: block; /* Muestra el carrusel en móviles */
  }

   .carousel-caption {
    position: static; /* ✅ Saca el texto de encima de la imagen */
    padding-top: 10px;
    background: none; /* Elimina fondo oscuro si lo había */
    text-align: center;
  }

  .carousel-caption p {
    color: #fff !important;
    font-size: 14px;
    margin: 0;
    overflow-wrap: break-word;
  }

  .shade {
  background-color: rgba(61, 60, 60, 0.4); /* ✅ negro con 87% de opacidad */
  border-radius: 50%; /* ✅ botón redondo */
  color: white; /* opcional, mejora contraste */
  border: none; /* opcional, elimina borde */
}
}
