<div class="instagram-feed">
    <div *ngFor="let post of posts" class="post">
      <a [href]="post.permalink" target="_blank">
        <img *ngIf="post.media_type === 'IMAGE' || post.media_type === 'CAROUSEL_ALBUM'" 
             [src]="post.media_url" 
             [alt]="post.caption" alt="instagram-feed">
        <video *ngIf="post.media_type === 'VIDEO'" controls>
          <source [src]="post.media_url" type="video/mp4">
          Tu navegador no soporta videos.
        </video>
      </a>
      <p>{{ post.caption }}</p>
    </div>
  </div>
  