/* ✅ Estilos del GRID para pantallas grandes */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 🔹 Ahora las columnas pueden ser más pequeñas */
  gap: 20px;
  padding: 20px;
}

.grid-item {
  
  padding: 10px;
  text-align: center;
}

.grid-item img, .grid-item video {
  width: 100%;
  border-radius: 10px;
}

/* ✅ CARRUSEL: Oculto en PC, visible en móviles */
#instagramCarousel {
  display: none;
}

/* ✅ Mostrar el carrusel en móviles (menor a 992px) */
@media (max-width: 500px) {
  .grid-container {
    display: none; /* Oculta el Grid en móviles */
  }
  
  #instagramCarousel {
    display: block; /* Muestra el carrusel en móviles */
  }
}
