<div class="animated-background-container">
  <img *ngFor="let img of animatedImages" 
       [src]="img.src" 
       alt="Animated Background Image" 
       class="floating-image"
       [style.top.vh]="img.top" 
       [style.left.vw]="img.left" 
       [style.--rotation.deg]="img.rotation" 
       [style.animation-duration.s]="img.duration">
</div>

<nav class="cyber-nav">
    <a href="/about" class="nav-block block-about">ABOUT ME</a>
    <a href="/contact" class="nav-block block-contact">CONTACTO</a>
    <a href="/games" class="nav-block block-games">GAMES</a>
</nav>



