/* Fondo verde pastel para 'new' */
.bg-green {
  background-color: #b7f8c6; /* Verde pastel */
}

/* Fondo rojo pastel para otros estados */
.bg-red {
  background-color: #f57681; /* Rojo pastel */
}

.btn{
  margin-bottom: 5px;
}

.container{
  font-size: x-small;
}

  