<h1>Lista de mensajes</h1>

<div class="container">  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Date</th>
        <th>Message</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages" >
        <td>{{ message.name }}</td>
        <td>{{ message.email }}</td>
        <td [ngClass]="message.status === 'new' ? 'bg-green' : 'bg-red'">{{ message.status }}</td>
        <td>{{ message.timestamp.toMillis() | date:'dd/MM/yyyy h:mm:ss a'}}</td>
        <td>{{ message.message }}</td>        
        <td>
          <button class="btn btn-danger" (click)="deleteMessage(message.id!)">Eliminar</button>
          <button class="btn btn-success" (click)="updateStatus(message.id!)">Completar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
