.container{
    color: aliceblue;
}

.btn-custom {
    transition: all 0.3s ease;
    border: none;
    font-weight: bold;
}

/* Estilo cuando el botón está deshabilitado */
.btn-disabled {
    background-color: gray !important;
    color: white !important;
    cursor: not-allowed;
    opacity: 0.6;
}

/* Estilo cuando el botón está habilitado */
.btn-active {
    background-color: greenyellow !important;
    color: black !important;
}

.btn-active:hover {
    background-color: limegreen !important;
    color: white !important;
}

full-height{
    height: 100vh;
}

.image{
    height: 300px;
    width: auto;   
}

.elemento1{

    margin-top: 50px;
}

.elemento2{

    margin-top: 30px;
}

.elemento3{

    margin-top: 10px;
}


