<!-- Sidebar -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
  <a [routerLink]="'/login'" (click)="closeNav()">Login</a>
  <a [routerLink]="'/home'" (click)="closeNav()">{{ 'HOME' | translate }}</a>
  <a [routerLink]="'/about'" (click)="closeNav()">{{ 'ABOUT' | translate }}</a>
  <a [routerLink]="'/contact'" (click)="closeNav()">{{ 'CONTACT' | translate }}</a>
  <a *ngIf="(user$ | async) as user" [routerLink]="'/contact-list'" (click)="closeNav()">
    Contact List ({{ user.email }})
  </a>
  <a [routerLink]="'/games'" (click)="closeNav()">TimTim Games</a>
</div>


<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-black">
  <div class="container-fluid">
    <h2 routerLink="/home">holme<span>9</span></h2>

    <!-- Dropdown de Idioma -->
    <div class="dropdown">
      <button class="btn btn-sm btn-black text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        🌍{{currentLanguage}}
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="changeLanguage('en')">🇬🇧 English</a></li>
        <li><a class="dropdown-item" (click)="changeLanguage('es')">🇪🇸 Español</a></li>
        <li><a class="dropdown-item" (click)="changeLanguage('pt')">🇧🇷 Português</a></li>
      </ul>
    </div>

    <a class="navbar-brand openbtn" (click)="openNav()">☰ Menu</a>
  </div>
</nav>
