/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #49dc00;
    --color-secondary: #02cd57;
    --color-accent: #00b7db;
    --color-neutral: #0215e8;
    --color-base: #9b00e7;
    --color-base-transparent: rgba(155, 0, 231, 0.7) /* 80% de opacidad */;
    --color-white: aliceblue;
    --color-black: black;
    --color-gray: #818181;
    --color-red: #ff0000;
}

body{
    background-color: black;
    font-family: "Lato", sans-serif;
}

h1{
    color: aliceblue;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupar toda la altura de la pantalla */
  }
  
  .content-wrap {
    flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
  }
  
  .footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
  }

